@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
body {
    background-color: #f0f8ff;
}
.navbar {
    display: grid;
    grid-template-areas: "Logo menu login";
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    background-color: white;
    width: 1366;
    height: 80;
    border-bottom-width: 1px;
}
.logo {
    padding-left: 70px;
    grid-area: Logo;
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo_icon {
    width: 40.89px;
    height: 32px;
    top: 10.69;
    left: 9.34;
}
img {
    display: flex;
    display: block;
}
h4 {
    color: #383E54;
    display: flex;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.menu {
    color: #555555;
    grid-area: menu;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
}
a {
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-size: large;
}
.login {
    grid-area: login;
    display: flex;
    font-family: "Poppins", sans-serif;
    padding-right: 50px;
    gap: 5px;
}
button {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
}
.get-started {
    width: 121px;
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: #007bff;
    border: none;
}
.login_button {
    width: 78px;
    height: 40px;
    border-radius: 10px;
    color: #007bff;
    border-color: #007bff;
    background-color: white;
}
.content {
    margin-top: 120px;
    display: flex;
    font-family: 'Gilroy-Bold', sans-serif;
    justify-content: space-between;
}
.qoute {
    float: left;
    margin-top: 15px;
    padding-left: 162px;
}
.text h1 {
    width: 538px;
    height: 128px;
    font-family: 'Gilroy-Bold', sans-serif;
    padding-left: 200px;
    font-size: 48px;
    line-height: 64px;
    font-weight: 400;
}
.curve {
    margin-top: -30px;
    padding-left: 440px;
}
.p1 {
    font-family: 'Gilroy-Medium', sans-serif;
    padding-left: 200px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.verified {
    margin-top: 30px;
}
.button2{
    width: 208px;
    height: 58px;
    border-radius: 12px;
    color: #FFFFFF;
    background: #5978FF;
    border: none;
    margin-top: 50px;
}
.page1_image {
    width: 520.0040283203125;
    height: 425.0040588378906;
    top: 261px;
    left: 664px;
    padding-right: 600px;
    margin-top: 50px;
    margin-left: -20px;
}
.page2 {
    background-color: white;
    font-family: 'Gilroy-Bold',sans-serif;
    font-weight: 400;
}
h3 {
    font-size: 28px;
    padding-top: 70px;
    font-weight: 400;
    font-family: 'Gilroy-Bold', sans-serif;
    text-align: center;
}
.img3 {
    padding-top: 10px;
    padding-left: 150px;
    padding-bottom: 90px;
}
.page3x1 {
    padding-top: 50px;
    padding-right: 155px;
    display:flex;
}
h2 {
    padding-left: 170px;
    font-size: 20px;
    font-family: 'Gilroy-SemiBold',sans-serif;
}
p {
    font-family: 'Gilroy-Medium', sans-serif;
    padding-left: 170px;
    font-size: 16px;
    line-height: 1.5;
}
.investment_icon {
    padding-left: 170px;
}
.broker_icon {
    padding-left: 170px;
}
.portfolio_icon {
    padding-left: 170px;
}
.page3x2 {
    padding-top: 70px;
    padding-right: 155px;
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
}
.page3x2 p {
    padding-bottom: 30px;
}
.stock_icon {
    padding-left: 170px;
}
.credit_icon {
    padding-left: 170px;
}
.advise_icon {
    padding-left: 170px;
}
.page4_bg {
    padding-top: 75px;
    background-image: url(page3_grid_bg.png);
}
.advisorx1 {
    display: flex;
    align-content: center;
    padding-top: 13px;
    padding-left: 170px;
}
.page4_heading {
    padding-top: 0px;
}
.card1 {
    border-radius: 12px;
    width: 320;
    height: 420;
    top: 188px;
    left: 181px;
    padding-left: 100px;
}
.card1_title {
    margin-top: 10px;
    display: flex;
}
.crown_icon1 {
    width: 16px;
    height: 16px;
    margin-left: -260px;
    margin-top: 8px;
}
.title1 {
    font-size: 12px;
    font-family: 'Gilroy-Medium', sans-serif;
    margin-top: -62px;
    margin-left: 8px;
}
.line3x1 {
    display: flex;
}
.name1 {
    font-family: 'Gilroy-SemiBold',sans-serif;
    font-size: 16px;
    margin-left: -160px; 
}
.rating_1 {
    width: 50px;
    height: 24px;
    margin-left: 60px;
    margin-top: 10px;
}
.line4x1 {
    display: flex;
    margin-left: 10px;
}
.briefcase_icon1 {
    width: 16px;
    height: 16px;
}
.experince1 {
    color: #555555;
    margin-top: -70px;
    font-size: 14px;
    margin-left: 10px;
}
.credit1 {
    margin-bottom: 10px;
}
.card2 {
    width: 320;
    height: 420;
    top: 188px;
    left: 181px;
    background-color: #FFFFFF;
    padding-left: 30px;
}
.card2_title {
    margin-top: 10px;
    display: flex;
}
.crown_icon2 {
    width: 16px;
    height: 16px;
    margin-left: -260px;
    margin-top: 8px;
}
.title2 {
    font-size: 12px;
    font-family: 'Gilroy-Medium', sans-serif;
    margin-top: -62px;
    margin-left: 8px;
}
.line3x2 {
    display: flex;
}
.name2 {
    font-family: 'Gilroy-SemiBold',sans-serif;
    font-size: 16px;
    margin-left: -160px; 
}
.rating_2 {
    width: 50px;
    height: 24px;
    margin-left: 60px;
    margin-top: 10px;
}
.line4x2 {
    display: flex;
    margin-left: 10px;
}
.briefcase_icon2 {
    width: 16px;
    height: 16px;
}
.experince2 {
    color: #555555;
    margin-top: -70px;
    font-size: 14px;
    margin-left: 10px;
}
.credit2 {
    margin-bottom: 10px;
}
.card3 {
    width: 320;
    height: 420;
    background-color: #FFFFFF;
    top: 188px;
    left: 181px;
    padding-left: 34px;
}
.card3_title {
    margin-top: 10px;
    display: flex;
}
.crown_icon3 {
    width: 16px;
    height: 16px;
    margin-left: -260px;
    margin-top: 8px;
}
.title3 {
    font-size: 12px;
    font-family: 'Gilroy-Medium', sans-serif;
    margin-top: -62px;
    margin-left: 8px;
}
.line3x3 {
    display: flex;
}
.name3 {
    font-family: 'Gilroy-SemiBold',sans-serif;
    font-size: 16px;
    margin-left: -160px; 
}
.rating_3 {
    width: 50px;
    height: 24px;
    margin-left: 60px;
    margin-top: 10px;
}
.line4x3 {
    display: flex;
    margin-left: 10px;
}
.briefcase_icon3 {
    width: 16px;
    height: 16px;
}
.experince3 {
    color: #555555;
    margin-top: -70px;
    font-size: 14px;
    margin-left: 10px;
}
.credit3 {
    margin-bottom: 10px;
}